/*Para todas las secciones*/
/*Media queries verticales*/
@media (min-width: 1200px) and (max-height: 767px){
	#validar_pantalla{
		display: none;
	}
	#mensaje_importante{
		display: block;
	}
}
@media (min-width: 768px) and (max-width: 1199px) and (max-height: 599px){
	#validar_pantalla{
		display: none;
	}
	#mensaje_importante{
		display: block;
	}
}
@media (max-width: 767px) and (max-height: 449px){
	#validar_pantalla{
		display: none;
	}
	#mensaje_importante{
		display: block;
	}
}
@media (min-width: 1200px) and (min-height: 768px){
	#validar_pantalla{
		display: block;
	}
	#mensaje_importante{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1199px) and (min-height: 600px){
	#validar_pantalla{
		display: block;
	}
	#mensaje_importante{
		display: none;
	}
}
@media (max-width: 767px) and (min-height: 450px){
	#validar_pantalla{
		display: block;
	}
	#mensaje_importante{
		display: none;
	}
}
/*Finaliza media queries verticales*/
h1, h2, h3, h4, h5, h6, p, body, div, label, a, span{
	font-family: 'Open Sans', sans-serif;
}
.raya_divisora{
	background-color: #3499DB;
	height: 2px;
	width: 100px;
}
.separacion_fila{
	margin-top: 50px;
}
.titulo_seccion{
	font-style: italic;
	font-size: 50px;
}
.btn-transparent, .btn-transparent:focus{
	background-color: transparent;
	border-color: #fff;
	border-style: solid;
	border-width: 2px;
	color: #fff;
	-webkit-transition: .3s;
    transition: .3s;
}
.btn-transparent:hover{
	background-color: #fff;
	color: #3499DB;
}
.btn-primary{
	background-color: #3499DB;
	border-color: #3499DB;
}
.btn-primary:hover{
	background-color: #0F85D1;
	border-color: #0F85D1;
}
.btn-primary:active, .btn-primary:focus{
	background-color: #0665A2;
	border-color: #0665A2;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #0665A2;
	border-color: #0665A2;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline: none;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
	border-color: #3499DB;
}
.panel-blue>.panel-heading{
	background-color: #3499DB;
	color: #fff;
}
.panel-blue-light>.panel-heading{
	background-color: #85C4ED;
	color: #fff;
}
.panel > div > h4 > a:focus, .panel > div > h4 > a:hover{
	text-decoration: none;
}
.alert-verde{
	background-color: #2BE189;
	color: #fff;
    padding-top: 10px;
    padding-bottom: 8px;
}
/*Encabezado*/
#header{
	position:fixed;
	height: 40px;
	display:block;
	width: 100%;
	background: rgba(255,255,255, 1);
	z-index:9;
	text-align:center;
}
#header{
	top:0px;
}
.nav-center {  
	text-align: center;
} 
ul.nav {
	display: inline-block;
}  
ul.nav > li{
	display: inline
}
ul.nav > li.active > a{
	color: #3499DB !important;
	background-color: white !important;
}
ul.nav > li > a{
	float: left;
	color: #777 !important;
	font-weight: bold;
}
ul.nav > li > a:hover, ul.nav > li > a:focus{
	color: #3499DB !important;
	background-color: white !important;
}
/*Finaliza encabezado*/
@media (min-width: 992px) and (max-width: 1199px){
	.titulo_seccion{
		font-size: 40px;
	}
	.separacion_fila{
		margin-top: 35px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.titulo_seccion{
		font-size: 30px;
	}
	.separacion_fila{
		margin-top: 25px;
	}
}
@media (max-width: 767px){
	.titulo_seccion{
		font-size: 27px;
	}
	.separacion_fila{
		margin-top: 0px;
	}
}
/*Finaliza para todas las secciones*/
/*Sección uno*/
.seccion_uno{
	background-image: url('../images/seccion_uno/fondo_blur.jpg');
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.imagen_perfil{
	width: 250px;
}
.nombre{
	font-style: italic;
	font-weight: 300;
	color: white;
	font-size: 60px;
	margin-top: 20px;
	margin-bottom: 1px !important;
}
.separador{
	width: 500px;
}
.segundo_texto{
	color: white;
	font-size: 30px;
}
.fila_botones_inicio{
	margin-top: 15px;
}
.fila_division{
	margin-top: 15px;
	margin-bottom: 10px;
}
/*linea-icono-linea*/
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: #fff; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 2px;
    background: #fff;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
/*Finaliza linea-icono-linea*/
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 768px) and (max-width: 991px){
	.nombre{
		font-size: 50px;
	}
	.separador{
		width: 425px;
	}
	.segundo_texto{
		font-size: 25px;
	}
}
@media (max-width: 767px){
	.nombre{
		font-size: 35px;
		margin-top: 0px;
	}
	.separador{
		width: 340px;
	}
	.segundo_texto{
		font-size: 16px;
	}
	.imagen_perfil{
		width: 190px;
	}
	.fila_division{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.alert-verde{
		margin-bottom: 10px;
	}
}
/*Finaliza sección uno*/
/*Sección dos*/
.texto_sobre_mi{
	font-size: 20px;
}
.separacion_intereses{
	margin-top: 25px;
}
.titulo_intereses{
	font-size: 25px;
}
.texto_intereses{
	font-size: 15px;
}
@media (min-width: 992px) and (max-width: 1199px){
	.texto_sobre_mi{
		font-size: 17px;
	}
	.titulo_sobre_mi{
		font-size: 40px;
	}
	.separacion_intereses{
		margin-top: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.texto_sobre_mi{
		font-size: 14px;
	}
	.titulo_sobre_mi{
		font-size: 30px;
	}
	.titulo_intereses{
		font-size: 20px;
	}
	.texto_intereses{
		font-size: 14px;
	}
}
@media (max-width: 767px){
	.texto_sobre_mi{
		margin-top: 15px;
		font-size: 14px;
	}
	.titulo_sobre_mi{
		font-size: 30px;
	}
}
/*Finaliza sección dos*/
/*Sección tres*/
.seccion_tres{
	background-color: #f7f7f7;
}
.icono_habilidad{
	width: 33px;
	margin-top: 19px;
}
.barra_progreso{
	background: rgba(77, 87, 99, 0.13);
}
.habilidades{
	font-size: 25px;
}
.separacion_habilidades{
	margin-top: 30px;
}
.progress-bar-blue{
	background-color: #3499DB;
}
.progress-bar-green{
	background-color: #2BE189;
}
.alert-blue{
	background-color: #3499DB;
	color: #fff;
	margin-top: 30px;
}
@media (min-width: 992px) and (max-width: 1199px){
	.separacion_habilidades{
		margin-top: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.habilidades{
		font-size: 20px;
	}
	.icono_habilidad{
		width: 25px;
		margin-top: 19px;
	}
	.separacion_habilidades{
		margin-top: 10px;
	}
}
@media (max-width: 767px){
	.habilidades{
		font-size: 15px;
	}
	.icono_habilidad{
		width: 25px;
		margin-top: 24px;
	}
	.separacion_habilidades{
		margin-top: 0px;
	}
	.fila_habilidades_xs{
		margin-top: 15px;
	}
	.alert-blue{
		margin-top: 10px;
		margin-bottom: 5px;
	}
}
/*Finaliza sección tres*/
/*Sección cuatro*/
.separacion_portafolio{
	margin-top: 20px;
}
.modal-header{
	border-bottom:none !important;
	padding: 0px;
	padding-right: 8px;
}
.close_modal{
	font-size: 100px !important;
	font-weight: 100;
}
.close_modal:focus{
	outline: none;
}
.close-green-alert{
    color: #fff;
    opacity: 1;
    background-color: transparent;
}
.modal-footer{
	border-top: none;
	text-align: center;
	padding-top: 0px;
}
.fila_imagen_modal{
	margin-top: 25px;
}
.texto_modal_portafolio{
	font-size: 17px;
	text-align: justify;
	margin-top: 25px;
	line-height: 25px;
}
@media (min-width: 768px) and (max-width: 991px){
	.thumbnail{
		margin-bottom: 10px !important;
	}
	.separacion_portafolio{
		margin-top: 5px;
	}
}
@media (max-width: 767px){
	.thumbnail{
		margin-bottom: 10px !important;
	}
	.separacion_fila_portafolio_xs{
		margin-top: 15px;
	}
	.thumbnail-portafolio_xs{
		width: 274px;
	}
	.separacion_portafolio{
		margin-top: 0px;
	}
}
/*Finaliza sección cuatro*/
/*Sección cinco*/
.seccion_cinco{
	background-color: #f7f7f7;
	/*background-color: #ededed;*/
}
.titulo_timeline{
	font-size: 25px;
    font-weight: 400;
}
.texto_timeline{
	font-size: 17px;
}
@media (min-width: 992px) and (max-width: 1199px){
	.titulo_timeline{
		font-size: 25px;
    	font-weight: 400;
	}
	.texto_timeline{
		font-size: 15px;
	}
	.cbp_tmtimeline > li .cbp_tmlabel{
		padding:0.5em 1em 0.5em 1em !important;
	}
	.cbp_tmtimeline > li .cbp_tmlabel > .titulo_timeline { 
		padding-bottom: 6px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.titulo_timeline{
		font-size: 20px;
    	font-weight: 400;
	}
	.texto_timeline{
		font-size: 15px;
	}
	.cbp_tmtimeline > li .cbp_tmlabel{
		padding:0.5em 1em 0.5em 1em !important;
	}
	.cbp_tmtimeline > li .cbp_tmlabel > .titulo_timeline { 
		padding-bottom: 7px !important;
	}
}
@media (max-width: 767px){
	.timeline_xs{
		margin-top: 15px;
	}
	.acordeon{
		margin-bottom: 10px;
	}
}
/*Finaliza sección cinco*/
/*Sección seis*/
.seccion_seis{
	background-color: #3499DB;
	color: #fff;
}
.raya_divisora_blanca{
	background-color: #fff;
	height: 2px;
	width: 100px;
}
@media (max-width: 767px){
	.contacto_fila_xs{
		margin-top: 15px;
	}
}

/*Finaliza sección seis*/
/*Sección siete*/
.espaciado_footer{
	margin-top: 50px;
	margin-bottom: 44px;
}
.espaciado_footer > div > div > a:hover, .espaciado_footer > div > div > a:focus{
	text-decoration: none;
}
.derechos_reservados{
	margin-top: 20px;
}
/*Finaliza sección siete*/